@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.wrapper {
	/*This part is important for centering*/
	display: flex;
	justify-content: center;
  }
  .skills-titulo{
	
	font-family: Roboto;
	color:white;
	font-weight: bold;
	margin-top: 30px;
	font-size: 30px;
	width: 22ch;
	animation: typing 2s steps(22), blink .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 3px solid;
  }
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }
.cartas{
   display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    
}
@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
  }
  img{
      opacity: 0;
      width: 60px;
      
      margin-bottom: 10px;
      margin-right: 10px;
      
      
  }

  :root {
	--card-height: 65vh;
	--card-width: calc(var(--card-height) / 1.5);
  }
  .card:hover .opacity{
    opacity: 1;
    

  }
.card {
    
    margin-bottom: 20px;
    position: relative;
	background: #191c29;
	width: 200px;
	height: 300px;
	padding: 3px;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 1.5em;
	color: rgb(88 199 250 / 0%);
	cursor: pointer;
    font-family: Raleway;
    flex-direction: column;
  }
  
  .card:hover {
	color: rgb(88 199 250 / 100%);
	transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
	animation: none;
	opacity: 0;

  }
  
  
  .card::before {
	content: "";
	width: 104%;
	height: 102%;
	border-radius: 8px;
	background-image: linear-gradient(
	  var(--rotate)
	  , #5ddcff, #3c67e3 43%, #4e00c2);
	  position: absolute;
	  z-index: -1;
	  top: -1%;
	  left: -2%;
	  animation: spin 2.5s linear infinite;
  }
  
  .card::after {
	position: absolute;
	content: "";
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(
	  var(--rotate)
	  , #5ddcff, #3c67e3 43%, #4e00c2);
	  opacity: 1;
	transition: opacity .5s;
	animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
	0% {
	  --rotate: 0deg;
	}
	100% {
	  --rotate: 360deg;
	}
  }