@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
	padding: 0;
	margin: 0 ;
	text-decoration:none;
	list-style:none;

}

body{
	background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: hidden;
}

a,li{
	font-family: Calibri;
}
.logo-header {
	font-family: Staatliches;
	font-size: 15px;
	color:white;
	text-shadow: .1em .1em #0b8fe0;
	flex-wrap: wrap;
}

header{
	background-color: #0899d1;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem 2rem;
	
}
.nav-menu ul{
	display: flex;
	align-items: center;
	text-decoration:none;
}
.nav-menu li{
	margin-right: 1.5rem;
	font-size: 20px;
}
.nav-menu li a{
	color:white;
}
.nav-menu a:hover{
	color: #00bed4;
	text-shadow: 1px 1px black;
}

.nav-menu li:last-child{
	background-color: #00bed4;
	
	border:1px solid whitesmoke;
	padding: .25rem, .75 rem;
	border-radius: .2rem;
}
.nav-menu li:last-child:hover{
	background:transparent;
	border:2px solid whitesmoke;
	
}
.subtitulo{
	font-size: 30px;
	width: 500px;
	margin-bottom: 15px;
	display:flex;
	flex-direction: row;
	
}
.div-padre{
	display: flex;
	width: 90%;
	flex-wrap: wrap;
	margin: 100px auto;
	justify-content: space-around;
	
	
}
.perfilDiv{
	width: 300px;
	height: 300px;
}
.perfil{
	width: 100%;
	border-radius:150px;
	height: 100%;
	object-fit:cover;
	border: 5px solid white;
}
.div-h1{
	
	font-family: Raleway;
	font-size: 50px;
	text-shadow: 2px 2px black;
	color: white;
	margin-bottom: 15px;
	width: 400px;
	
}
.blue{
	color:#0b8fe0;
	font-weight: bold;
	text-decoration: underline;
}
.white{
	color:whitesmoke;
	font-weight: bold;
}

  .fuenteCnt{
	font-family: Arial;
	font-size: 22px;
	background: #0b8fe0;
	text-shadow: none;
	display: block;
	text-align:center;
	border-radius: 25px;
	width: 50%;
	
  }
.fuenteCnt:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #03e9f4,
			  0 0 10px #03e9f4,
			  0 0 20px #03e9f4,
			  0 0 30px #03e9f4;
  
}
  
::-webkit-scrollbar
{
	width: 0;
}
#scrollPath
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}
#progressbar
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;

	background: linear-gradient(to top, #008aff,#00ffe7);
	animation: animate 5s linear infinite;
}
@keyframes animate
{
	0%,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}
#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(10px);
}
#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(30px);
}
  
  

 

	

	  
  