/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*{
	padding: 0;
	margin: 0 ;
	text-decoration:none;
	list-style:none;

}

body{
	background-color: #2c2c2c;
}
.wrapper {
  /*This part is important for centering*/
  display: flex;
  justify-content: center;
}
.contacto-titulo{
  display:flex;
  justify-content: center;
  font-family: Roboto;
  color:white;
  font-weight: bold;
  margin-top: 30px;
  font-size: 34px;
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.iconoemail{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Noto sans";
  color:White;
  margin-top: 30px;
}
.iconoemail img{
  width: 60px;
  height: 60px;
}