@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
    font-family: "Roboto";
    
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin:auto;
}
.contenedor ul{
    position: relative;
    width: 100%;
    margin:60px 0;
}
.contenedor ul li{
    list-style: none;
    font-family: Roboto;
    display:inline-block;
    padding: 10px 20px;
    color: white;
    border: 2px solid black;
    margin-right: 15px;
    text-transform: capitalize;
    -webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}
ul li:hover, .activo{
    background: #0899d1;
    color:white;
    cursor:pointer;
}
.contenedor .fotos{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.contenedor .caja{
    width: 32%;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 1px rgba(0,0,0,0.75);
}
.contenedor .caja img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}
img:hover{
    transform:scale(1.5);
    transition: all ease 1.5s;
    cursor: pointer;
}
















#scrollPath
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: rgba(255,255,255,0.05);
}
#progressbar
{
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;

	background: linear-gradient(to top, #008aff,#00ffe7);
	animation: animate 5s linear infinite;
}
@keyframes animate
{
	0%,100%
	{
		filter: hue-rotate(0deg);
	}
	50%
	{
		filter: hue-rotate(360deg);
	}
}
#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(10px);
}
#progressbar:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #008aff,#00ffe7);
	filter: blur(30px);
}